# Base de datos PostGIS
POSTGRES_DB=geodata
POSTGRES_USER=geo_user
POSTGRES_PASSWORD=geo_pass
POSTGRES_HOST=postgis
POSTGRES_PORT=5432
DATABASE_URL=postgresql://geo_user:geo_pass@postgis:5432/geodata

# Mage AI
MAGE_PORT=6789
MAGE_DATABASE_CONNECTION_URL=postgresql+psycopg2://mage_user:mage_pass@mage_db:5432/mage_metadata

# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
