POSTGRES_DB=geodata
POSTGRES_USER=geo_user
POSTGRES_PASSWORD=geo_pass

POSTGIS_PORT=5433
BACKEND_PORT=8001
MAGE_PORT=6789
DASHBOARD_PORT=8501

API_PUBLIC_URL=http://localhost:8001
USGS_FEED_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson

MAGE_REQUIRE_AUTH=false
MAGE_JWT_SECRET=earthquake_geo_pipeline_local_secret
MAGE_OWNER_EMAIL=admin@earthquake.local
MAGE_OWNER_USERNAME=admin
MAGE_OWNER_PASSWORD=admin
